
Python/.idea/.name

*.xml

*.iml

C++/Euler8/run

Matlab/ze_emergency_key.m

Matlab/helloWorldGeneticAlgorithm.m

Matlab/pandigitalProducts.m~

Fortran/euler7/a

*.cpp

C++/Euler10/a

C++/Euler10/euler10_2.cpp

C++/Euler10/euler10_2.cpp

C++/Euler10/euler10_3.cpp

C++/Euler10/euler10_5.cpp

C++/Euler10/euler10_3.cpp
